body {
    background-color: antiquewhite;
}

#container {
    max-width: 70rem;
    padding: 3rem;
}

#game {
    background-color: rgb(247, 247, 247);
    padding: 5rem;
    box-shadow: inset 0 0 1rem 0.5rem rgba(0, 0, 0, 0.5);
    border-radius: 0.3rem;
}

#question {
    font-size: 2.3rem;
    text-align: left;
}

.aws-container {
    text-align: start;
    margin-top: 2rem;
}

.aws-container>.aws-container-each:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.aws-container>.aws-container-each:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.aws-container-each {
    justify-content: start;
    transition: .3s;
    overflow: hidden;
}

.aws-container-each:hover {
    transform: scale(1.02);
}


.aws-container-each>* {
    padding: 0.8rem 2rem 0.8rem 1rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.aws-container-each>.aws-prefix {
    width: 10%;
    padding: 0.8rem 0.6rem;
    justify-content: center;
    background-color: #333;
    color: white;
}

.aws-container-each>.aws {
    width: 90%;
    justify-content: start;
    background-color: white;
    color: #333;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    position: relative;
}

.aws-container-each>.aws.is-correct {
    background-color: #28a745;
    color: white;
}

.aws-container-each>.aws.is-correct::after {
    content: "\f00c";
    position: absolute;
    right: 2%;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.aws-container-each>.aws.is-incorrect {
    background-color: #dc3545;
    color: white;
}

.aws-container-each>.aws.is-incorrect::after {
    content: "\f00d";
    position: absolute;
    right: 2%;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.flex.flex-row-reversed {
    flex-direction: row-reverse;
}